PORT=3000

# AWS SES SMTP Credentials
SES_SMTP_HOST=email-smtp.ap-south-1.amazonaws.com
SES_SMTP_PORT=465
SES_SMTP_USER=your_smtp_username_from_aws
SES_SMTP_PASS=your_smtp_password_from_aws

# AWS Credentials (for CloudWatch metrics API)
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=ap-south-1

# SES Config
SES_CONFIG_SET=recruitx-config
SES_DEFAULT_FROM=info@mail.recruitx-ai.com
SES_SEND_RATE=14

# Redis (BullMQ job queue)
REDIS_URL=redis://localhost:6379
